/* FORMATAÇÕES GERAIS *************************************************************************/

/* Variáveis */
:root {
    --color-light-blue: #D8F4F3;
    --color-medium-blue: #B3E7E3;
    --color-dark-blue: #003749;
    --color-coin: #FFC13F;
    --color-dark-coin: #D08C1F;

    --color-white: #fff;
    --color-black: #000;

    --shadow: 0px 2px 4px rgba(0, 0, 0, .1);
}

/* Seletor Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**********************************************************************************************/

/* BARRA DE NAVEGAÇÃO SUPERIOR ****************************************************************/

.nav-link {
    color: var(--color-dark-blue);
    text-decoration: none;
    margin-left: 35px;
}

.nav-link:hover {
    color: var(--color-coin);
    transition: 0.5s;
}

.user-label {
    color: var(--color-dark-coin);
}

/* Ajustes responsivos */
@media (max-width: 767px) {
    .navbar-collapse .nav-link {
        text-align: center;
        border-bottom: 1px solid var(--color-dark-blue);
        margin-left: 0;
    }
}
/* /Ajustes responsivos */
/**********************************************************************************************/

/* SEÇÃO DE INTRODUÇÃO ************************************************************************/

#intro-section {
    background-color: var(--color-medium-blue);
    padding-inline: 50px;
}

#intro-text {
    font-size: 1.25rem;
}

#intro-text > h3 {
    color: var(--color-dark-blue);
    font-weight: bold;
    font-size: 2rem;
}

#intro-image {
    width: 400px;
}

/* Ajustes responsivos */
@media (max-width: 767px) {
    #intro-section {
        padding-block: 10px;
        padding-inline: 0px;
    }
    #intro-text > h3 {
        text-align: center;
    }
    #intro-image {
        display: none;
    }
}
/* /Ajustes responsivos */
/**********************************************************************************************/

/* SEÇÃO DE CURSOS ****************************************************************************/

#courses-section {
    background-color: var(--color-dark-blue);
    padding-top: 25px;
}

.course-box {
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}

.course-box > h4 {
    color: var(--color-dark-blue);
    text-align: center;
}

.course-box > p {
    color: #000;
}

.course-box:hover {
    background-color: var(--color-dark-coin);
}

#all-courses-link {
    background-color: var(--color-dark-blue);
    padding-top: 5px;
}

#all-courses-link a {
    color: #fff;
}

#all-courses-link a:hover {
    color: var(--color-coin);
    transition: 0.5s;
}

/* Ajustes responsivos */
@media (max-width: 576px) {
    .course-box {
        width: 90%;
    }
    #all-courses-link{
        text-align: center;
    }
}

@media (min-width: 577px) and (max-width: 991px) {
    .course-box {
        width: 25%;
    }
    #all-courses-link{
        text-align: end;
        padding-right: 50px;
    }
}

@media (min-width: 992px) {
    .course-box {
        width: 16.66666667%;
    }
    #all-courses-link{
        text-align: end;
        padding-right: 100px;
    }
}
/* /Ajustes responsivos */
/**********************************************************************************************/

/* SEÇÃO DE NOTÍCIAS **************************************************************************/

.goto-read-link:hover {
    color: var(--color-dark-blue);
    transition: 0.5s;
}

#featured-news > img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

#featured-news > h2 {
    text-align: justify;
}

.adjacent-news-box > img {
    width: 100%;
    height: 150px;
}

.adjacent-news-box > h2 {
    font-size: 1em;
    text-align: justify;
}

.adjacent-news-box > p {
    font-size: 0.90em;
}

/**********************************************************************************************/

/* RODAPÉ/FOOTER ******************************************************************************/

#page-footer {
    background-color: #323232;
    color: #fff;
    padding-block: 15px;
}

.socials-label {
    color: #fff;
    display: inline-block;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.socials-label:hover {
    color: var(--color-coin);
    transition: 0.5s;
}

/**********************************************************************************************/